@using Microsoft.AspNetCore.Identity
@inject LibraryManagementSystem.Service.MyService service;
@inject UserManager<LibraryManagementSystem.Models.ApplicationUser> user;
@model IEnumerable<LibraryManagementSystem.Models.PastPapers>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    var loggedIdUser = await user.GetUserAsync(User);
    var isStudent = false;
    if (loggedIdUser != null)
    {
        isStudent = await service.IsStudent(loggedIdUser.Id);

        var name = loggedIdUser.Email;
    }
}




<div class="container-fluid py-4">

    <h2>Uploaded Past Papers</h2>
    @if (!isStudent)
    {
        <a  class="btn-dark" asp-action="Create" asp-controller="PastPapers">Create</a>
    }
    <div class="table-responsive">
        <table id="example" class="table table-bordered table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>No</th>
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>Academic Year</th>
                    <th>Semester</th>
                    @if (!isStudent)
                    {
                        <th>Uploaded By</th>
                    }
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    int count = 1;
                }
                @foreach (var paper in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@paper.CourseCode</td>
                        <td>@paper.CourseTitle</td>
                        <td>@paper.AcademicYear</td>
                        <td>@paper.Semester</td>
                        @if (!isStudent)
                        {
                            <td>@paper.UploadedBy</td>

                        }
                        <td><a href="@paper.FilePath" target="_blank">View</a></td>
                    </tr>

                    count++;
                }
            </tbody>
        </table>
    </div>

</div>

<script>
    new DataTable('#example');
</script>
