@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model LibraryManagementSystem.ViewModels.BorrowBookViewModel



<div class="container-md">
    <h2>Borrowed Books</h2>

    <table id="example" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>Student Name</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th>Due Date</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Loans.Count > 0)
            {
                @foreach (var loan in Model.Loans)
                {
                    <tr>
                        <td>@loan.Book.Title</td>
                        <td>@loan.User.FullName</td>
                        <td>@loan.LoanDate.ToShortDateString()</td>
                        <td>
                            @if (loan.ReturnDate == null)
                            {
                                <span class="text-danger">Not Returned</span>
                            }
                            else
                            {
                                <span class="text-success">Returned on @loan.ReturnDate.Value.ToShortDateString()</span>
                            }
                        </td>
                        <td>@loan.DueDate.ToShortDateString()</td>
                        <td>
                            <button type="button"
                                    class="btn btn-primary return-book-btn"
                                    data-loanid="@loan.Id"
                                    data-studentid="@loan.User.Id">
                                Return Book
                            </button>


                        </td>

                    </tr>
                }

            }
    </table>



</div>


<script>
    new DataTable('#example');
</script>

<script>
    $(document).on('click', '.return-book-btn', function () {
        var loanId = $(this).data('loanid');
        var studentId = $(this).data('studentid');

        Swal.fire({
            title: "Are you sure?",
            text: "You want to return this book?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Yes, return it!",
            cancelButtonText: "Cancel"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("ReturnedBooks", "Book")',
                    type: 'POST',
                    data: {
                        LoanId: loanId,
                        StudentId: studentId
                    },
                    success: function (response) {
                        Swal.fire("Returned!", "Book has been returned.", "success")
                            .then(() => {
                                location.reload();
                            });
                    },
                    error: function () {
                        Swal.fire("Error!", "Something went wrong.", "error");
                    }
                });
            }
        });
    });
</script>











