@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LibraryManagementSystem.ViewModels.BorrowBookViewModel


<div class="container-fluid py-4">
    <h2>Returned Books</h2>

    @if (Model.Loans == null || !Model.Loans.Any())
    {
        <div class="alert alert-warning text-center">No returned books found.</div>
    }
    else
    {
        <div class="table-responsive">
            <table id="example" class="table table-bordered table-hover align-middle">
                <thead class="table-dark">
                    <tr>
                        <th>No</th>
                        <th>Book Title</th>
                        <th>Student Name</th>
                        <th>Loan Date</th>
                        <th>Due Date</th>
                        <th>Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    @{ 
                        int count = 1;
                    }
                    @foreach (var loan in Model.Loans)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@loan.Book?.Title</td>
                            <td>@loan.User?.FullName</td>

                            <td>@loan.LoanDate.ToShortDateString()</td>
                            <td>@loan.DueDate.ToShortDateString()</td>
                            <td>@loan.ReturnDate?.ToShortDateString()</td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
            

        </div>
    }

  </div>

       

        <script>

            new DataTable('#example', {
                layout: {
                    topStart: {
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });
        </script>
